run = "mcs './Aula_1110/exemplo2.cs' -out:Main.exe ; mono Main.exe"
#run = "python3 './Aula_1103/lista.py'"
#run = "javac -d ./ './Aula_1031/Lista02Ex03.java' ; java './Lista02Ex03.class'"

[nix]
channel = "stable-21_11"
