#run = "mcs './Aula_1031/Lista02Ex03.cs' -out:Main.exe ; mono Main.exe"
#run = "python3 './Aula_1031/Lista02Ex03.py'"
run = "javac './Aula_1031/Lista02Ex03.java' ; java './Aula_1031/Lista02Ex03.class'"

[nix]
channel = "stable-21_11"
